div[class^="announcementBar_"] {
  --stripe-color1: #d9b8ff77;
  --stripe-color2: #d9b8ff33;
  background: repeating-linear-gradient(
    35deg,
    var(--stripe-color1),
    var(--stripe-color1) 20px,
    var(--stripe-color2) 10px,
    var(--stripe-color2) 40px
  );
  font-weight: 700;
}

div[class^="announcementBar_"],
div[class^="announcementBar_"] .close {
  color: var(--ifm-color-primary-contrast-foreground);
}
